# This is iturner72's .aliases file which is called by .bashrc

###### Clear and ls commands #####
alias cla="clear && ls -A"
alias cls="clear && ls"
alias cll="clear && ls -alF"
alias la="ls -A"
alias ll="ls -alF"
alias clc="clear"

##### X server #####
alias xdt="export DISPLAY=192.168.1.71:2.0"
alias xlt="export DISPLAY=192.168.1.85:2.0"

##### mv and rm protection #####
alias mv="mv -i"
alias rm="rm -i"

##### cp clarity #####
alias cp='cp -iv'

##### screenfetch #####
alias info='clear && screenfetch'

##### source bashrc #####
alias sb='source ~/.bashrc'

##### find and edit a file with fzf #####
alias ffe='fzf_find_edit.sh'
